<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cry.mapper.BsProductMapper">
  <resultMap id="BaseResultMap" type="cn.cry.po.BsProduct">
    <!--@mbg.generated-->
    <!--@Table bs_product-->
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    <result column="product_photo" jdbcType="VARCHAR" property="productPhoto" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="product_status" jdbcType="VARCHAR" property="productStatus" />
    <result column="delete_flag" jdbcType="VARCHAR" property="deleteFlag" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    product_id, product_name, product_price, tenant_id, product_photo, product_type, 
    product_status, delete_flag, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from bs_product
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from bs_product
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="product_id" keyProperty="productId" parameterType="cn.cry.po.BsProduct" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bs_product (product_name, product_price, tenant_id, 
      product_photo, product_type, product_status, 
      delete_flag, create_time, update_time
      )
    values (#{productName,jdbcType=VARCHAR}, #{productPrice,jdbcType=DECIMAL}, #{tenantId,jdbcType=VARCHAR}, 
      #{productPhoto,jdbcType=VARCHAR}, #{productType,jdbcType=VARCHAR}, #{productStatus,jdbcType=VARCHAR}, 
      #{deleteFlag,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="product_id" keyProperty="productId" parameterType="cn.cry.po.BsProduct" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bs_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productName != null">
        product_name,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="productPhoto != null">
        product_photo,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="productStatus != null">
        product_status,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="productPhoto != null">
        #{productPhoto,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="productStatus != null">
        #{productStatus,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.cry.po.BsProduct">
    <!--@mbg.generated-->
    update bs_product
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="productPhoto != null">
        product_photo = #{productPhoto,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="productStatus != null">
        product_status = #{productStatus,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.cry.po.BsProduct">
    <!--@mbg.generated-->
    update bs_product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=DECIMAL},
      tenant_id = #{tenantId,jdbcType=VARCHAR},
      product_photo = #{productPhoto,jdbcType=VARCHAR},
      product_type = #{productType,jdbcType=VARCHAR},
      product_status = #{productStatus,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <select id="selectShopProduct" resultMap="BaseResultMap">
   select
    <include refid="Base_Column_List" />
    from bs_product
    where tenant_id = #{tenantId,jdbcType=VARCHAR}
    and  delete_flag = '0'
</select>
</mapper>