<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <form action="/loginIn" method="post" class="login">
        <input type="text" name="name" placeholder="用户名"><br>
        <input type="password" name="password" placeholder="密 码"><br>
        <input type="submit" name="login" value="登录" class="btn">
    </form>


</body>
</html>